doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		block title
			title Default title
		// Iclude any head elements here
		// include partials/head
		link(href='vendor/bootstrap-4.0.0-alpha.6-dist/css/bootstrap.min.css', rel='stylesheet')
		link(href='css/master.css', rel='stylesheet')
	body
		.main-wrapper
			header
			main.container
				h1 Pug Examples 5
				p Cool Pug example!
				p another change
			footer
		// All scripts should be  placed at the bottom
		// Scripts Start
		// include partials/scripts
		// Scripts End